button {
    cursor:pointer;
    border: 1px solid rgba(139, 67, 255, 0.5);
  }
  
  button:hover {
    opacity: 0.8;
    transition: 200ms;
  }
  
  .match-timer {
    display: block;
    text-align: center;
    width: 25%;
    margin: auto auto -120px;
  }
  
  .match-timer h1 {
    margin: 0;
  }
  
  .clocks {
    background-color: black;
    color: #fff;
    padding: 20px;
  }
  
  .match-buttons {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .match-buttons  button{
    margin: 72px auto -70px;
    border-radius: 15px;
    outline: none;
    padding:3px 10px;
  }
  
  .scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  
  .home-team {
    width: 23%;
  }
  
  .guest-team {
    width: 23%;
  }
  
  .team-score {
    width: 100%;
  }
  
  .points {
    background-color: black;
    color: red;
    padding: 14% 16%;
    font-size: 120px;
    width: 50px;
    display: inline-block;
    margin: auto;
  }
  
  .scoreboard h1 {
    font-size: 55px;
    margin-bottom: 0;
  }
  
  .scoreboard h2 {
    font-size: 40px;
    margin: 5px auto 0;
  }
  
  .possesion-timers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -119px;
  }
  
  .possesion-timers__team {
    margin: auto 8px auto 7px;
  }
  
  .possesion-timers h3 {
    margin-bottom: 0;
  }
  
  .possesion-timers__possesion-timer {
    background-color: black;
    color: red;
    margin: 2px 2px;
    padding-top: 25px;
  }
  
  .hoops {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  .hoops button {
      margin: 0 8px;
      padding: 10px 25px;
      border-radius: 20px;
  }
  
  .change_side {
      display: flex;
      justify-content: center;
      margin-top: 15px;
  }
  
  .change_side button {
    padding: 8px 20px;
    border-radius: 20px;
  }

  .team-rosters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  /* #guest-column {
    flex-direction: row;
  } */