.teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.teams input{
    width:80%;
}

.teams .home-team{
    margin-left:8%;
}

.teams .guest-team {
    margin-right: 5%;
}

.team-acceptance-button {
    margin-left:-1%;
}

.team-acceptance-button button {
    margin-top: 180%;
}

.coaches {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
    padding-bottom: 40px;
}

.coaches label {
    display: block;
}

.coach-acceptance-button {
    margin-right:-11%;
}

.coach-acceptance-button button {
    margin-top:50%;
}

.coaches .home-team {
    margin-left: 3%;
}

.coaches .guest-team {
    margin-right:11%;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
}

.submitTeams {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submitTeams button{
    padding: 10px 30px;
}

button:hover {
    cursor: pointer;
}

#submitButton a{
    text-decoration: none;
}



